body{
    text-align: center;
}
div{
    border:2px solid black;
    height: 100px;
    width: 100px;
}

#container{
    height: 45vh;
    width: 800px;
    display: flex;
    justify-content:center;
    /* to align in the main axis. */
    align-items: center;
    /* to align in the cross axis. */
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}

#box3{
    background-color: yellow;
}

#box4{
    background-color: pink;
}

#box5{
    background-color: aqua;
}